In [1]:
import pandas as pd
from IPython.display import display

INPUT_FILE = r"D:\Analysis\Plastic & Rubber - Part Family Wise.xlsx"

df = pd.read_excel(INPUT_FILE)
df.columns = df.columns.str.strip()

display(df.head())

,Part Family,PartNo,PO Price,Technology,Plant,Vendor,Vehicle Model,Part Name,Part Type,Code,...,Tool Cost,Amortization Quantity (Tool Life),Tool Maintenance Cost (per pcs),Net Tool Cost,Other Cost Percentage,Any Other Cost,Effective Date,Basic Price,Net Cost Other Currency,Net Cost (INR)
0,Cover Handle Front,KE220419,71.67,Plastic,HOS,21677,IQUBE,COVER HANDLE FRONT,Component,RM-10001713,...,0.20,0.0,0.20,0.20,NaN,0.0,18/07/2023,79.02,0,79.02
1,Cover Handle Front,KE220419,71.67,Plastic,HOS,21677,IQUBE,COVER HANDLE FRONT,Component,RM-1000543,...,0.20,0.0,0.20,0.20,NaN,0.0,02/01/2023,78.97,0,78.97
2,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10001386,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.75,0,50.75
3,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10001691,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.82,0,50.82
4,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10002272,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.44,0,50.44

In [2]:
print(f"üìä Total Rows      : {len(df)}")
print(f"üìê Total Columns  : {df.shape[1]}")
print("\nüß© Column Names:")
display(pd.DataFrame(df.columns, columns=["Column Name"]))

üìä Total Rows      : 999
üìê Total Columns  : 64

üß© Column Names:

                Column Name
0               Part Family
1                    PartNo
2                  PO Price
3                Technology
4                     Plant
..                      ...
59           Any Other Cost
60           Effective Date
61              Basic Price
62  Net Cost Other Currency
63           Net Cost (INR)

[64 rows x 1 columns]

In [4]:
PART_COL = "PartNo"
PRICE_COL = "PO Price"

test_part = "KE220419"

display(
    df[df[PART_COL] == test_part][[PART_COL, PRICE_COL]]
)

      PartNo  PO Price
0   KE220419     71.67
1   KE220419     71.67
46  KE220419     75.79
47  KE220419     75.79

In [6]:
PART_FAMILY_COL = "Part Family"

distinct_count = df[PART_FAMILY_COL].nunique()
print(f"üß© Distinct Part Families: {distinct_count}")

üß© Distinct Part Families: 12

In [7]:
from IPython.display import display

part_families = (
    df[PART_FAMILY_COL]
    .dropna()
    .drop_duplicates()
    .sort_values()
    .reset_index(drop=True)
)

display(part_families.to_frame(name="Part Family"))

               Part Family
0       Cover Handle Front
1              Fender Rear
2              Floor Board
3       Hose Injector Assy
4   Housing Headlamp Front
5    Housing Headlamp Rear
6             Panel Bottom
7              Panel Front
8        Panel Rear Bottom
9           Panel Rear Top
10             Utility Box
11          Visor Headlamp

In [8]:
part_family_counts = (
    df[PART_FAMILY_COL]
    .value_counts()
    .reset_index()
)

part_family_counts.columns = ["Part Family", "No of Records"]

display(part_family_counts)

               Part Family  No of Records
0              Floor Board            206
1   Housing Headlamp Front            154
2              Panel Front            131
3              Utility Box            127
4              Fender Rear            106
5    Housing Headlamp Rear             86
6           Visor Headlamp             83
7       Cover Handle Front             48
8           Panel Rear Top             37
9        Panel Rear Bottom             18
10            Panel Bottom              2
11      Hose Injector Assy              1

In [9]:
part_family_counts["% Share"] = (
    part_family_counts["No of Records"] / part_family_counts["No of Records"].sum() * 100
).round(2)

display(part_family_counts)

               Part Family  No of Records  % Share
0              Floor Board            206    20.62
1   Housing Headlamp Front            154    15.42
2              Panel Front            131    13.11
3              Utility Box            127    12.71
4              Fender Rear            106    10.61
5    Housing Headlamp Rear             86     8.61
6           Visor Headlamp             83     8.31
7       Cover Handle Front             48     4.80
8           Panel Rear Top             37     3.70
9        Panel Rear Bottom             18     1.80
10            Panel Bottom              2     0.20
11      Hose Injector Assy              1     0.10

In [11]:
PART_FAMILY_COL = "Part Family"

part_families = (
    df[PART_FAMILY_COL]
    .dropna()
    .drop_duplicates()
    .sort_values()
    .tolist()
)

print(f"Total Part Families: {len(part_families)}")
part_families[:10]   # preview first 10

Total Part Families: 12

['Cover Handle Front',
 'Fender Rear',
 'Floor Board',
 'Hose Injector Assy',
 'Housing Headlamp Front',
 'Housing Headlamp Rear',
 'Panel Bottom',
 'Panel Front',
 'Panel Rear Bottom',
 'Panel Rear Top']

In [12]:
selected_family = part_families[0]   # or type manually
print("Selected Part Family:", selected_family)

Selected Part Family: Cover Handle Front

In [13]:
df_family = df[df[PART_FAMILY_COL] == selected_family]

print(f"Rows in '{selected_family}': {len(df_family)}")
display(df_family.head())

Rows in 'Cover Handle Front': 48

,Part Family,PartNo,PO Price,Technology,Plant,Vendor,Vehicle Model,Part Name,Part Type,Code,...,Tool Cost,Amortization Quantity (Tool Life),Tool Maintenance Cost (per pcs),Net Tool Cost,Other Cost Percentage,Any Other Cost,Effective Date,Basic Price,Net Cost Other Currency,Net Cost (INR)
0,Cover Handle Front,KE220419,71.67,Plastic,HOS,21677,IQUBE,COVER HANDLE FRONT,Component,RM-10001713,...,0.20,0.0,0.20,0.20,NaN,0.0,18/07/2023,79.02,0,79.02
1,Cover Handle Front,KE220419,71.67,Plastic,HOS,21677,IQUBE,COVER HANDLE FRONT,Component,RM-1000543,...,0.20,0.0,0.20,0.20,NaN,0.0,02/01/2023,78.97,0,78.97
2,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10001386,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.75,0,50.75
3,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10001691,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.82,0,50.82
4,Cover Handle Front,KL220029,49.50,Plastic,HP,21591,NTORQ,COVER HANDLE FRONT Unpainted,Component,RM-10002272,...,0.21,0.0,0.21,0.21,NaN,0.0,18/05/2021,50.44,0,50.44

In [14]:
PART_COL = "PartNo"

parts = df_family[PART_COL].dropna().unique()
print(f"Distinct Parts in '{selected_family}': {len(parts)}")

display(pd.DataFrame(parts, columns=["PartNo"]))

Distinct Parts in 'Cover Handle Front': 2

     PartNo
0  KE220419
1  KL220029

In [15]:
selected_part = parts[0]
print("Selected Part:", selected_part)

PRICE_COL = "PO Price"

df_part = df_family[df_family[PART_COL] == selected_part]

display(df_part[[PART_COL, PRICE_COL]])

Selected Part: KE220419

      PartNo  PO Price
0   KE220419     71.67
1   KE220419     71.67
46  KE220419     75.79
47  KE220419     75.79

In [17]:
df_part[PRICE_COL] = pd.to_numeric(df_part[PRICE_COL], errors="coerce")

print("Min PO Price:", df_part[PRICE_COL].min())
print("Max PO Price:", df_part[PRICE_COL].max())

Min PO Price: 71.67
Max PO Price: 75.79

C:\Users\surya.mahesh\AppData\Local\Temp\ipykernel_35396\805942163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part[PRICE_COL] = pd.to_numeric(df_part[PRICE_COL], errors="coerce")

In [23]:
SUPPLIER_COL = "Vendor"

supplier_count = df_part[SUPPLIER_COL].nunique()
source_type = "Single Source" if supplier_count == 1 else "Multi Source"

print("Supplier Count:", supplier_count)
print("Source Type:", source_type)

Supplier Count: 2
Source Type: Multi Source

In [24]:
family_summary = (
    df_family
    .groupby(PART_COL)
    .agg(
        Min_PO_Price=("PO Price", "min"),
        Max_PO_Price=("PO Price", "max"),
        Supplier_Count=("Vendor", "nunique")
    )
    .reset_index()
)

display(family_summary)

     PartNo  Min_PO_Price  Max_PO_Price  Supplier_Count
0  KE220419         71.67         75.79               2
1  KL220029         48.21         49.50               2